<span class="sr-only">Navigation:</span>
<ul>
  
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(9)" onmouseout="javascript:spread(9)">
          <a id="_drawer--opened" href="/about/" class="sidebar-nav-item">
            About
          </a>
       </div>
      </li>
    
          
      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(10)" onmouseout="javascript:spread(10)">
          <a href="/projects/" class="sidebar-nav-item">
            Projects
          </a>       
       </div>
      </li>

      <li>
        <div class="menu-wrapper" onmouseover="javascript:spread(10)" onmouseout="javascript:spread(10)">
          <a href="/study/" class="sidebar-nav-item">
            Study
          </a>       
       </div>
      </li>

      <li>
        <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fyaejinkong.github.io&count_bg=%23A4DDDA&title_bg=%23DBDBDB&icon=baidu.svg&icon_color=%23E7E7E7&title=Today&edge_flat=false"/></a>
      </li>
    
</ul>